body { 
	background-color: rgb(255, 255, 255);
	/*background-image: url(../img/dna_microarray.jpg);	*/
}

table {
	cellspacing:2;
	border:0;
	font-family: Helvetica,Arial,sans-serif;
	width: 99%;
}

table.header {
	width: 100%;
	background-color: rgb(210, 218, 254);
}

table.footer {
	width: 100%;
	background-color: rgb(210, 218, 254);
}


td { padding: 5; }

TR.head	{
	background-color: rgb(255, 255, 204);
	text-align: center;
}
TR.line1 { background-color: rgb(205, 213, 255); }
TR.line2 { background-color: rgb(216, 225, 255); }
TR.line3 { background-color: rgb(226, 233, 255); }
TR.line4 { background-color: rgb(235, 243, 255); }

img {
	border: 1px ridge blue;
}

.section {
	opacity: 1;
    background-color: #fffff5;
    /* border: 2px ridge blue; */
    padding: 8px;
}
